<h5>ようこそ、ラーニングコミュニティへ。</h5>
<h5>このサイトでは、学習の記録ができます。</h5>
<h5>会員でない方もゲストログインをすることで、</h5>
<h5>閲覧が可能です。</h5>

<%= link_to 'ゲストログインはこちら', end_users_guest_sign_in_path, method: :post, class: "btn btn-success" %>
