<div class="container">
  <div class="row">
    <div class="col">
      <h5>ようこそ、ラーニングコミュニティへ!</h5>
      <h5>このサイトでは、学習の記録ができます。</h5>
      <h5>会員でない方も閲覧は可能ですが、</h5>
      <h5>一部機能が制限されます。</h5>
    </div>
  </div>
</div>